<!DOCTYPE html>
<html lang="EN">
    <head>
        <title>Question...</title>
    </head>
    <style>
        .fit{
            text-wrap: wrap;
        }
        .italic{
            font-style: italic;
        }
    </style>
    <body>
        {%- if let Some(question) = question -%}
        <pre>
    ---{{question.title}}---
        </pre>       
        <pre class="fit">
        {{question.asker}} asks...
        </pre>
        <pre class="fit italic">
            {{question.body}}

        </pre> 
        {%- endif -%}

        {%- if let Some(error) = error -%}
        <div class="error">{{error}}</div>
        {%- endif -%}
    </body>
</html>